<h1>New Task</h1>
<br>

<%= simple_form_for Task.new, remote: true do |f| %>
  <container class="unobtrusive-flash-container"></container>

  <div class="form-inputs">
    <%= f.input :description, label: false, placeholder: "What needs to be done'?" %>
    <%= f.input :public %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary" %>
  </div>

<% end %>
<hr>
<h1>My Tasks</h1>
<div class="row" id="tasks_list">
  <%= render @tasks %>  
</div>